fastapi
uvicorn
gradio
python-multipart
pillow
torch
transformers
numpy
opencv-python-headless
requests
pydantic
python-dotenv
google-generativeai
langchain-google-genai
rembg
onnxruntime
scikit-learn