matplotlib
onnxruntime
fastapi
uvicorn
python-multipart
pillow
torch
transformers
numpy
opencv-python-headless
requests
pydantic
python-dotenv
google-generativeai
google-genai
langchain-google-genai
rembg
gradio-client
